@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: purple;
  color: rgb(221, 171, 77);
  font-family: "Muli", sans-serif;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  padding: 10px;
}
.counter-timer i {
  padding: 10px;
  color: rgb(230, 162, 38);
}
.counter {
  font-size: 60px;
  margin-top: 10px;
}
span {
  color: rgb(238, 195, 115);
}
@media (min-width: 360px) {
  .counter-time {
    flex-direction: row;
  }
}
